<template>
  <v-app dark>
    <v-toolbar app dense>
      <v-toolbar-side-icon @click="drawer = !drawer" class="hidden-md-and-down"></v-toolbar-side-icon>
      <v-toolbar-title class="pt-1 pr-3 hidden-sm-and-down"><img src="@/assets/mde-logo-light.svg" height="45"></v-toolbar-title>
      <v-divider vertical inset class="hidden-sm-and-down" />
      <v-toolbar-title class="font-weight-light headline">ESSA<span class="font-weight-black">Explorer</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-btn
          slot="activator"
          icon
        >
          <v-icon>apps</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile v-for="(link, i) in links" :key="i" :to="link.path">
            <v-list-tile-action>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="link.title" />
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>

    <v-footer height="auto" dark>
      <sm-footer v-if="$vuetify.breakpoint.smAndDown" />
      <lg-footer v-if="$vuetify.breakpoint.mdAndUp" />
    </v-footer>
  </v-app>
</template>

<script>
  import LgFooter from '@/components/footers/LgFooter.vue'
  import SmFooter from '@/components/footers/SmFooter.vue'
  export default {
    components: {
      LgFooter,
      SmFooter
    },
    data () {
      return {
        drawer: false,
        links: [
          { title: 'ESSA Explorer', icon: 'fa fa-search', path: '/' },
          { title: 'MSRC', icon: 'fa fa-search', path: '/msrc' }
        ]
      }
    }
  }
</script>
