<template>
  <div>
    <section>
      <v-container grid-list-md>

        <!-- start buttons -->
        <v-layout row class="pb-0 mb-0">
          <v-flex>
            <v-btn flat dark small>
              Type
              <v-icon right light>keyboard_arrow_down</v-icon>
            </v-btn>
            <v-btn flat dark small>
              Year
              <v-icon right light>keyboard_arrow_down</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <!-- end buttons -->

        <!-- start autocomplete -->
        <v-layout row wrap class="pt-0">
          <v-flex xs12 sm6>
            <v-autocomplete
              :loading="loading"
              :items="districts"
              :search-input.sync="search"
              v-model="selected"
              cache-items
              label="Choose districts..."
              multiple 
              return-object 
              item-text="properties.NAME" 
              item-value="properties.FID_12"
              solo-inverted 
              flat 
              hide-details 
              offset-overflow>
              <template slot="no-data">
                <v-list-tile>
                  <v-list-tile-title>
                    Still loading <strong>districts</strong>...
                  </v-list-tile-title>
                </v-list-tile>
              </template>
              <template slot="selection" slot-scope="{ item, index }">
                <v-chip medium dark v-if="index === 0">
                  <span>{{ item.properties.NAME }}</span>
                </v-chip>
                <span v-if="index === 1" class="caption">(+{{ selected.length - 1 }} others)</span>
              </template>
              <v-list-tile slot="prepend-item" ripple @click.native="toggle">
                <v-list-tile-action>
                  <v-icon :color="selected.length > 0 ? 'success' : ''">
                    {{ icon }}
                  </v-icon>
                </v-list-tile-action>
                <v-list-tile-title>
                  Select all districts
                </v-list-tile-title>
              </v-list-tile>
              <v-divider slot="append-item" class="mb-2" />
              <v-list-tile slot="append-item" disabled>
                <v-list-tile-content v-if="allDistricts">
                  <v-list-tile-title>All {{ selected.length }} districts loaded</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-content v-else-if="someDistricts">
                  <v-list-tile-title>Districts selected:</v-list-tile-title>
                  <v-list-tile-sub-title>{{ selected.length }}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content v-else>
                  Please select your districts above
                </v-list-tile-content>
              </v-list-tile>
            </v-autocomplete>
          </v-flex>
          <v-flex xs12 sm3>
            <v-select :items="years" solo-inverted flat hide-details label="Select year"
              offset-y />
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <!-- end autocomplete bar -->

    <!-- start map -->
    <section class="grey lighten-3">
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card raised style="z-index: 1;">
              <v-card-text class="pa-0">

                <l-map :zoom="zoom" :center="center" style="height: 500px" :options="{scrollWheelZoom: false, touchZoom: false}"
                  :max-bounds="bounds">
                  <l-tile-layer :url="url" :attribution="attribution" />
                  <l-geo-json v-if="show" :geojson="selected" :options="options" :optionsStyle="styleFunction" />
                  <l-marker :lat-lng="marker"></l-marker>
                </l-map>

              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
  <!-- end map -->
</template>

<script>
import axios from 'axios'
import L from 'leaflet'
import { LGeoJson, LMap, LTileLayer, LMarker } from 'vue2-leaflet'

export default {
  async asyncData () {
    const {data} = await axios.get('https://cdn.jsdelivr.net/gh/davidbkay/mde-open-data@0.0.2/mississippi-districts-1516.geojson')
    return { districts: data.features }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LGeoJson
  },
  data () {
    return {
      pageTitle: 'ESSAExplorer',
      show: true,
      zoom: 6,
      center: L.latLng(32.2973, -90.2275),
      bounds: L.latLngBounds([[32, -91], [33, -89]]),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(32.2973, -90.2275),
      districts: [],
      selected: [],
      years: ['2015', '2016', '2017'],
      enableTooltip: true
    }
  },
  head () {
    let sefl = this
    if (process.browser) {
      this.title = document.title
    }
    return {
      changed ({title}) {
        sefl.title = title
      }
    }
  },
  methods: {
    toggle () {
      this.$nextTick(() => {
        if (this.allDistricts) {
          this.selected = []
        } else {
          this.selected = this.districts.slice()
        }
      })
    }
  },
  computed: {
    icon () {
      if (this.allDistricts) return 'mdi-close-box'
      if (this.someDistricts) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    },
    allDistricts () {
      return this.selected.length === this.districts.length
    },
    someDistricts () {
      return this.selected.length > 0 && !this.allDistricts
    },
    options () {
      return {
        onEachFeature: this.onEachFeatureFunction
      }
    },
    styleFunction () {
      const fillColor = this.fillColor // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 2,
          color: '#ECEFF1',
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 1
        }
      }
    },
    onEachFeatureFunction () {
      if (!this.enableTooltip) {
        return () => {}
      }
      return (district, layer) => {
        layer.bindTooltip('<v-card raised color="primary"><v-card-text>' + district.properties.NAME + '</v-card-text></v-card>', { permanent: false, sticky: true })
      }
    }
  }
}
</script>
