<template>
<v-app>
  <section>
    <v-container grid-list-md>
      <v-layout row class="pb-0 mb-0">
        <v-flex>
          <v-btn flat dark small>
            Type
            <v-icon right light>keyboard_arrow_down</v-icon>
          </v-btn>
          <v-btn flat dark small>
            Year
          <v-icon right light>keyboard_arrow_down</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <!-- end buttons -->

      <!-- start autocomplete -->
      <v-layout row wrap class="pt-0">
        <v-flex xs12 sm4>
          <v-autocomplete
            :items="features"
            :search-input.sync="search"
            @input="addFeature"
            cache-items
            hide-details
            solo-inverted
            flat
            offset-overflow
            return-object
            item-text="properties.EntityName"
            item-value="properties.EntityId"
            small-chip
            multiple
          >
          <template
            slot="selection"
            slot-scope="{ item, index }"
          >
          <v-chip small color="yellow lighten-3">
            <span>{{ item.properties.EntityName }}</span>
          </v-chip>
          <span 
            v-if="index ===1" 
            class="caption"
          >
            + {{ selectedFeaturesCount }} others
          </span>
          </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs6 md3>
          <v-btn light>Compare {{ selectedFeaturesCount }} selected</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</v-app>
</template>

<script>
export default {
  created () {
    this.$store.dispatch('browserInit').then(() => {
      console.log('getting data foo')
    })
  },
  // validate ({ params }) {
  //   return !params.id || params.id === 'active' || params.id === 'completed'
  // }
  head () {
    return {
      title: this.$route.params.id || 'all',
      titleTemplate: 'Nuxt %s'
    }
  },
  watch: {
    features: {
      deep: true,
      handler: 'save'
    }
  },
  computed: {
    features () {
      // if (this.$route.params.id === 'active') {
      //   return this.$store.getters.activeFeatures
      // }
      // if (this.$route.params.id === 'completed') {
      //   return this.$store.getters.completedFeatures
      // }
      return this.$store.getters.allFeatures
    },
    selectedFeaturesCount () {
      return this.$store.getters.completedFeaturesCount
    },
    featuresCount () {
      return this.$store.getters.featuresCount
    },
    selectedFeatures () {
      return this.$store.getters.completedFeatures
    }
  },
  methods: {
    allDone () {
      this.$store.dispatch('allDone')
    },
    editFeature (feature) {
      this.beforeEditCache = feature.title
      this.editedFeature = feature
    },
    doneEdit (feature) {
      this.editedFeature = null
      feature.title = feature.title.trim()
      if (!feature.title) {
        this.$store.dispatch('removeFeature', feature)
      }
    },
    cancelEdit (feature) {
      this.editedFeature = null
      feature.title = this.beforeEditCache
    },
    removeFeature (feature) {
      this.$store.dispatch('removeFeature', feature)
    },
    save () {
      this.$store.dispatch('saveFeatures')
    },
    addFeature (feature) {
      this.$store.dispatch('addFeature', feature)
    }
  },
  directives: {
    'feature-focus' (el, binding) {
      if (binding.value) {
        el.focus()
      }
    }
  },
  data () {
    return {
      results: [],
      selectedresults: [],
      selected: [],
      headers: [
        { text: 'Name', align: 'left', value: 'EntityName' },
        { text: 'School Year', value: 'EntitySchoolYear' },
        { text: 'Type', value: 'EntityType' },
        { text: 'Grade', value: 'EntityGrade' },
        { text: 'Score', value: 'EntityAccountabilityScore' },
        { text: 'City', value: 'EntityCity' },
        { text: 'Level', value: 'EntityLevel' },
        { text: 'Grade with EL', value: 'EntityGradeWithEL' }
      ]
    }
  }
}
</script>