<template>
  <v-app>
		<section>
    <v-container>
    <v-layout row>
    <v-flex xs4>
    <v-checkbox :label="'Toggle all'" v-model="allDone" />
    <v-chip dark>All: {{ featuresCount }}</v-chip><v-chip color="accent">Selected: {{ selectedFeaturesCount }}</v-chip>
    <v-autocomplete
      :items="features"
      :search-input.sync="search"
      v-model="selectedFeatures"
      cache-items
      hide-no-data
      hide-details
      solo-inverted
      flat
      offset-overflow
      return-object
      item-text="properties.EntityName"
      item-value="properties.EntityId"
      small-chip
      multiple
    >
    <template slot="no-data">
                <v-list-tile>
                  <v-list-tile-title>
                    Still loading <strong>districts</strong>...
                  </v-list-tile-title>
                </v-list-tile>
              </template>
              <template slot="selection" slot-scope="{ item, index }">
                <v-chip medium dark v-if="index === 0">
                  <span>{{ item.properties.NAME }}</span>
                </v-chip>
                <span v-if="index === 1" class="caption">(+{{ selectedFeaturesCount - 1 }} others)</span>
              </template>
              <v-list-tile slot="prepend-item" ripple @click.native="toggle" v-model="allDone">
                <v-list-tile-action>
                  <v-icon :color="selected.length > 0 ? 'success' : ''">
                    {{ icon }}
                  </v-icon>
                </v-list-tile-action>
                <v-list-tile-title>
                  Select all districts
                </v-list-tile-title>
              </v-list-tile>
              <v-divider slot="append-item" class="mb-2" />
              <v-list-tile slot="append-item" disabled>
                <v-list-tile-content v-if="allDistricts">
                  <v-list-tile-title>All {{ selected.length }} districts loaded</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-content v-else-if="someDistricts">
                  <v-list-tile-title>Districts selected:</v-list-tile-title>
                  <v-list-tile-sub-title>{{ selected.length }}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content v-else>
                  Please select your districts above
                </v-list-tile-content>
              </v-list-tile>
            </v-autocomplete>



    <v-list dense color="blue-grey" class="blue-grey darken-3">
			<v-list-tile
        v-for="(feature, i) in features"
        :key="i"
        v-if="selected.indexOf(index) < 0"
      >
        <v-list-tile-action>
          <v-checkbox v-model="feature.completed" /> <!-- v-model="feature.completed" -->
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ feature.properties.EntityName }}</v-list-tile-title>
          <v-list-tile-sub-title>{{ feature.properties.EntityCity }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn dark icon>
              <v-icon>eject</v-icon>
              </v-btn>
              </v-list-tile-action>
      </v-list-tile>
      </v-list>
      </v-flex>

      <v-flex xs8>
        <v-data-table
          :headers="headers"
          :items="selectedFeatures"
          hide-actions
          item-key="i"
          :pagination.sync="pagination"
          dense
        >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
        <td>{{ props.item.properties.EntityName }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntitySchoolYear }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityType }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityGrade }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityAccountabilityScore }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityCity }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityLevel }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityGradeWithEL }}</td>
      </tr>
    </template>
    <template slot="expand" slot-scope="props">
      <v-card flat>
        <v-card-text>Peek-a-boo!</v-card-text>
      </v-card>
    </template>
  </v-data-table>
          </v-flex>
      </v-flex>
      </v-layout>
      </v-container>
		</section>
    </v-app>
    </template>


<!-- 
<ul class="todo-list">
        <li v-for="todo in todos" :class="{'completed': todo.completed, 'editing': todo === editedTodo}">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
            <button class="destroy" @click="removeTodo(todo)"></button>
          </div>
          <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
        </li>
			</ul>
<template>
  <v-app>
    <section class="pt-3">
      <v-container grid-list-xl>
        <h1 class="display-1">
          Search for school or district data below...
        </h1>
        <v-layout row wrap>
          <v-flex xs12 sm4>
            <v-text-field type="text" v-model="search" @input="onChange" return-object solo-inverted flat />
          </v-flex>
          <v-flex xs12 sm4>
            <v-btn v-if="selected.length > 0" color="error" dark>
              <v-icon left color="amber lighten-1">
                star
              </v-icon>
              Compare {{ selected.length }} selected
            </v-btn>
            <v-btn v-else disabled>
              <v-icon left color="grey lighten-1">
                star_border
              </v-icon>
              Compare {{ selected.length}} selected
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section v-if="search" transition="slide-y-transition" group>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-slide-y-reverse-transition v-for="(result, index) in results" :key="index">
            <v-flex xs12 sm3>
              <v-card>
                <v-toolbar flat v-if="selected.indexOf(index) < 0" color="grey darken-2" :style="{ cursor: 'pointer'}"
                  @click.native="addCompare(result), toggle(index)">
                  <h1 class="subheading white--text">{{ result.properties.EntityName }}</h1>
                  <v-spacer />
                  <v-icon large color="white">
                    star_border
                  </v-icon>
                </v-toolbar>
                <v-toolbar flat v-else :style="{ cursor: 'pointer'}" color="error" @click.native="addCompare(result), toggle(index)">
                  <h1 class="subheading white--text font-weight-black">{{ result.properties.EntityName }}</h1>
                  <v-spacer />
                  <v-icon large color="amber lighten-1">
                    star
                  </v-icon>
                </v-toolbar>
                <v-card-text>
                  <h1 class="body-1">City: <strong>{{ result.properties.EntityCity }}</strong></h1>
                  <h1 class="body-1">Accountability Grade: <strong>{{ result.properties.EntityAccountabilityScore }}</strong></h1>
                </v-card-text>
                <v-card-actions class="pa-0">
                  <v-btn block depressed>SEE MORE</v-btn>
                </v-card-actions>
              </v-card>

            </v-flex>
          </v-slide-y-reverse-transition>
        </v-layout>
      </v-container>
    </section>

    <section>
      <v-container>
        <v-layout row>
          <v-flex xs12>
            <v-data-table
    :headers="headers"
    :items="FEATURES"
    hide-actions
    item-key="i"
    :pagination.sync="pagination"
  >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
        <td>{{ props.item.properties.EntityName }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntitySchoolYear }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityType }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityGrade }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityAccountabilityScore }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityCity }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityLevel }}</td>
        <td class="text-xs-center">{{ props.item.properties.EntityGradeWithEL }}</td>
      </tr>
    </template>
    <template slot="expand" slot-scope="props">
      <v-card flat>
        <v-card-text>Peek-a-boo!</v-card-text>
      </v-card>
    </template>
  </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

  </v-app>
</template>
-->
<script>
export default {
  created () {
    this.$store.dispatch('browserInit').then(() => {
      console.log('getting data foo')
    })
  },
  // validate ({ params }) {
  //   return !params.id || params.id === 'active' || params.id === 'completed'
  // }
  head () {
    return {
      title: this.$route.params.id || 'all',
      titleTemplate: 'Nuxt %s'
    }
  },
  watch: {
    features: {
      deep: true,
      handler: 'save'
    }
  },
  computed: {
    features () {
      // if (this.$route.params.id === 'active') {
      //   return this.$store.getters.activeFeatures
      // }
      // if (this.$route.params.id === 'completed') {
      //   return this.$store.getters.completedFeatures
      // }
      return this.$store.getters.allFeatures
    },
    selectedFeaturesCount () {
      return this.$store.getters.completedFeaturesCount
    },
    featuresCount () {
      return this.$store.getters.featuresCount
    },
    selectedFeatures () {
      return this.$store.getters.completedFeatures
    }
  },
  methods: {
    allDone () {
      this.$store.dispatch('allDone')
    },
    editTodo (feature) {
      this.beforeEditCache = feature.title
      this.editedFeature = feature
    },
    doneEdit (feature) {
      this.editedFeature = null
      feature.title = feature.title.trim()
      if (!feature.title) {
        this.$store.dispatch('removeFeature', todo)
      }
    },
    cancelEdit (feature) {
      this.editedFeature = null
      feature.title = this.beforeEditCache
    },
    removeFeature (feature) {
      this.$store.dispatch('removeFeature', feature)
    },
    save () {
      this.$store.dispatch('saveFeatures')
    }
  },
  directives: {
    'feature-focus' (el, binding) {
      if (binding.value) {
        el.focus()
      }
    }
  },
  data () {
    return {
      results: [],
      selectedresults: [],
      selected: [],
      headers: [
        { text: 'Name', align: 'left', value: 'EntityName' },
        { text: 'School Year', value: 'EntitySchoolYear' },
        { text: 'Type', value: 'EntityType' },
        { text: 'Grade', value: 'EntityGrade' },
        { text: 'Score', value: 'EntityAccountabilityScore' },
        { text: 'City', value: 'EntityCity' },
        { text: 'Level', value: 'EntityLevel' },
        { text: 'Grade with EL', value: 'EntityGradeWithEL' }
      ]
    }
  }
}
</script>