<template>
  <v-layout>
    <v-flex>
      <h1 class="caption">Type: {{ type }}, Text: {{ text }}</h1>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'PopupContent',
  props: {
    type: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>