<template>
  <v-card raised dark>
    <v-layout row wrap>
      <v-flex xs6>
        <h1 class="caption">{{ data.NAME }}</h1>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>