<template>
    <v-layout row>
      <v-flex xs12>
        <v-card flat tile dark>
          <v-card-title class="py-0 justify-center">
            <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
              <v-icon medium>{{ icon }}</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text class="white--text">
            <v-container grid-list-md>
              <v-layout row wrap justify-space-around>
                <v-flex xs12 md4>
                  <h1 class="subheading font-weight-bold">Mississippi Department of Education</h1>
                  <v-divider></v-divider>
                  <h1 class="body-1">P.O. Box 771</h1>
                  <h1 class="body-1">Jackson, MS 39205-0771</h1>
                  <h1 class="body-1">Educator Licensure Related Information: 601-359-3483</h1>
                  <h1 class="body-1">General MDE Related Information: 601-359-3513</h1>
                </v-flex>
                <v-flex xs12 md2>
                  <h1 class="subheading font-weight-bold">SUPPORT</h1>
                  <v-divider></v-divider>
                  <h1 class="body-1">User Guide</h1>
                  <h1 class="body-1">Accessibility</h1>
                  <h1 class="body-1">Disclaimer</h1>
                  <h1 class="body-1">Non-Discrimination</h1>
                </v-flex>
                <v-flex xs2>
                  <img src="@/assets/msGov.png" width="120px">
                  <img src="@/assets/mde-logo-light.svg" width="120px">
                </v-flex>

              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-text class="py-0 text-xs-center">
            <v-divider class="mx-5"></v-divider>
            <h1 class="subheading font-weight-bold">LEARN MORE</h1>
          </v-card-text>

          <v-card-text class="py-0 text-xs-center">
            <v-chip text-color="white" class="transparent">
              <v-avatar>
                <v-icon small>star</v-icon>
              </v-avatar>Mississippi Department of Education
            </v-chip>
            <v-chip text-color="white" class="transparent">
              <v-avatar>
                <v-icon small>star</v-icon>
              </v-avatar>Office of Technology & Strategic Services
            </v-chip>
            <v-chip text-color="white" class="transparent">
              <v-avatar>
                <v-icon small>star</v-icon>
              </v-avatar>Mississippi Succeeds Report Cards
            </v-chip>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        icons: [
          'fab fa-facebook',
          'fab fa-twitter',
          'fab fa-youtube',
          'fab fa-github'
        ],
        links: [
          { title: 'ESSA Explorer', icon: 'fa fa-search', path: '/' },
          { title: 'MSRC', icon: 'fa fa-card', path: '/msrc' }
        ]
      }
    }
  }
</script>
