<template>
    <v-layout row>
      <v-flex>
        <v-card flat tile dark class="hidden-md-and-up">
          <v-card-title class="py-0 justify-center">
            <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
              <v-icon medium v-html="icon" />
            </v-btn>
          </v-card-title>
          <v-card-text class="white--text text-xs-center">
            <h1 class="subheading font-weight-bold">Mississippi Department of Education</h1>
          </v-card-text>
          <v-card-text class="text-xs-center pt-0">
            <v-layout row justify-space-around>
              <v-flex>
                <img src="@/assets/msGov.png" width="120px">
              </v-flex>
              <v-flex>
                <img src="@/assets/mde-logo-light.svg" width="120px">
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        icons: [
          'fab fa-facebook',
          'fab fa-twitter',
          'fab fa-youtube',
          'fab fa-github'
        ]
      }
    }
  }
</script>